bin/
builds/
build/
data/
lite
temp/

release/

embed
SDL2.dll
lite.exe
lite.zip
*.sublime-project
*.sublime-workspace
.vscode
tico.zip
build-release.sh.old
build.sh.old
.lite_gitstatus*
error.txt

docs.json

.vscode
CMakeLists.txt